* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    justify-content: center;
    padding-right: 45px;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.separador {
    color: rgb(173, 173, 173);
    text-align: center;
}

.articulo {
    display: flex;
    width: 90%;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    border-radius: 40px;
    transition: transform 0.5s ease;
}

.articulo:hover {
    transform: scale(1.05);
}

.container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.fecha_publicacion {
    color: rgb(173, 173, 173);
}

.contenido {
    margin-top: auto;
    margin-bottom: auto;
}